
.main{
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: azure;
    border: 1px solid black;
    margin-top: 200px;
    margin-left: 530px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}
input{
    width: 280px;
    height: 30px;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
}
button{
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
}